---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
      <div class="banner-content">
        <h1>Great desktop image</h1>
        <a class="btn btn-primary btn-lg">Get it now</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/copenhagen');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Le Wagon Copenhagen</h2>
              <p>Very cool city, the best</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/atmosfeer">
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/lisbon');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Le Wagon Lisbon</h2>
              <p>Very cool city, the best</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/graysdays">
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/sao_paulo');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Le Wagon São Paulo</h2>
              <p>Very cool city, the best</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/matleroux">
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>
    <p class="team">
      <%= link_to "Meet the team", "team.html", class: "btn btn-primary" %>
    </p>
    <p>
      Let's use it.
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>


